<footer class="footer">
    <div class="footer__container">
        <nav class="footer__col footer__col_l">
            <ul class="footer__list">
                <li><a href="" class="footer__link">яхты больше 10 метров</a></li>
                <li><a href="" class="footer__link">яхты до 10 метров</a></li>
                <li><a href="" class="footer__link">катера, лодки</a></li>
            </ul>
        </nav>
        <nav class="footer__col footer__col_r">
            <ul class="footer__list">
                <li><a href="" class="footer__link">испания</a></li>
                <li><a href="" class="footer__link">италия</a></li>
                <li><a href="" class="footer__link">португалия</a></li>
                <li><a href="" class="footer__link">франция</a></li>
                <li><a href="" class="footer__link">греция</a></li>
            </ul>
        </nav>
    </div>
</footer>
