<header class="header block-header">
    <div class="block-header__container">
        <a href="/" class="block-header__logo">
            Promise me
        </a>
        <nav class="block-header__menu menu">
            <div class="menu__icon">
                <span></span>
            </div>
            <ul class="menu__list">
                <li><a href="/" class="menu__link">главная</a></li>
                <li><a href="about.html" class="menu__link">о нас</a></li>
                <li><a href="contact.html" class="menu__link">контакты</a></li>
                <li><a href="europe.html" class="menu__link">в европе</a></li>
                <li><a href="pacific.html" class="menu__link">в тихом океане</a></li>
                <li><a href="beach.html" class="menu__link">рядом с пляжем</a></li>
            </ul>
        </nav>
    </div>
</header>